
.record_video {
    position: relative;

    img {
        max-width: 280px;
        max-height: 170px;
    }

    img:hover {
        filter: grayscale(80%);
    }

    img, .record_title, .username {
        cursor: pointer;
    }

    .record_infos {

        .record_title {
            font-size: var(--small-font-size);
            color: var(--first-color-alt);
        }

        .record_title:hover {
            color: var(--first-color);
        }
        
        .details {
            margin-top: -0.125rem;
        }
    }
    
}