.games_container {
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
}


/* For small devices */
@media screen and (max-width: 350px) {
    .hotstreams_container {
        grid-template-columns: repeat(1, 230px);
    }
}

/* For medium devices */
@media screen and (min-width:568px) {

}

@media screen and (min-width: 768px) {
    .games_container {
        grid-template-columns: repeat(2,1fr);
    }
}

/* For large devices */
@media screen and (min-width:1024px) {
    .hotstreams_container {
        grid-template-columns: repeat(4,210px);
    }
}