.events_container {
    justify-content: center;
    align-items: center;

    .prev, .next {
        font-size: 2.5rem;
        color: var(--first-color);
        cursor: pointer;
        margin: 1rem;
    }

    .event_content > img {
        border-radius: 0.5rem;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.075);
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .prev, .next {
        display: none;
    }
    
}

@media screen and (min-width:350px) {
    .prev, .next {
        display: none;
    }
}

/* For medium devices */
@media screen and (min-width:568px) {

}

@media screen and (min-width: 768px) {
    .prev, .next {
        display: block;
    }
}

/* For large devices */
@media screen and (min-width:1024px) {
    
}
