.tourbracket_streams {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px) repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .plein { grid-area: 1 / 1 / 3 / 4; }

    .stream_player {
        border-radius: 10px;
        overflow: hidden;
        width: 100% !important;
        height: 100% !important;
    }
}

.player_wrapper {
    position: relative;

    .switch_icon {
        position: absolute;
        font-size: 1.5rem;
        margin: var(--mb-0-5);
        padding: 0 var(--mb-0-5);
        right: 0;
        color: white;
        cursor: pointer;
        background-color: rgba(253, 81, 81, 0.2);
        border-radius: 0.25rem;
    }
}
    
    